.celda_datos {
	border: 1px #000 solid;
}
/* Elementos generalistas */
img.mimeicon {
	height: 18px;
	vertical-align: middle;
	border: none;
}
.icon {
  width: 25px;
  border: 0px;
}
.icon_large {
  width: 100px;
  border: 0px;
}
img.mimeicon {
	height: 18px;
	vertical-align: middle;
	border: none;
}
input.mimeicon {
	height: 18px;
	vertical-align: middle;
	border: none;
}


















